.modal, .overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.overlay{
	background: rgba(49, 49, 49, 0.8);
}

.modal-content{
	margin: auto;
	background-color: white;
	border-radius: .5rem;
	width: 35%;
	padding-bottom: 1rem;
}

.modal-content h2{
	background: purple;
	color: white;
	padding: 15px;
}

.modal-content p{
	padding: 15px;
	font-weight: bold;
	font-size: 1.2rem;
}

.modal-content button{
	position: relative;
	padding: .3rem 1rem;
	left: 85%;
	background-color: purple;
	color: white;
	border-radius: .3rem;
	border-style: none;
	font-size: 1rem;
}
