.lists{
	background-color: white;
	margin: 0 auto;
	padding: 1rem;
	width: 35%;
	border-radius: 1rem;
}

.item{
	border-style: solid;
	padding: 0 1rem;
	margin-bottom: .5rem;
	border-width: 1px;
	border-color: grey;
	border-radius: .3rem;
}

.item p{
	font-weight: bold;
}