.form {
	padding: 1rem;
	width: 35%;
	background-color: white;
	border-radius: 1rem;
	margin: 2rem auto;
}

.form label {
	display: block;
	margin-bottom: .5rem;
	font-weight: bolder;
}

.form input {
	margin-bottom: .5rem;
	width: 100%;
}

.form button {
	background-color: purple;
	color: white;
	padding: .5rem;
	border-radius: .4rem;
}

.error {
	color: red;
}